@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using OpenCBT.Application.Interfaces

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject ISystemSettingsService Settings

@{
    var availableLangsSetting = await Settings.GetSettingAsync("AvailableLanguages") ?? "en-US,id-ID";
    var availableLangs = availableLangsSetting.Split(',').Select(c => c.Trim()).ToList();

    if (availableLangs.Count <= 1)
    {
        return; // Don't render switcher if there is only 1 or 0 languages available
    }

    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Where(c => availableLangs.Contains(c.Name))
        .Select(c => new SelectListItem 
        { 
            Value = c.Name, 
            Text = c.Name,
            Selected = requestCulture?.RequestCulture.UICulture.Name == c.Name
        })
        .ToList();
}

<div title="@Localizer["Request culture provider:"] @requestCulture?.Provider?.GetType().Name">
    <form id="selectLanguage" asp-controller="Culture" asp-action="SetCulture" asp-route-returnUrl="@Context.Request.Path" method="post" class="form-horizontal" role="form">
        <select name="culture"
                onchange="this.form.submit();"
                asp-items="cultureItems"
                class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-primary focus:border-primary sm:text-sm rounded-md">
        </select>
    </form>
</div>
